//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  padding: 20px 0;

  background: $footer-color;

  .contact-list {
    padding-left: 0;
    margin-bottom: 0;
    
    list-style: none;
  }

  .contact-item {
    position: relative;

    &:not(:last-child):before {
      content: '';

      position: absolute;
      top: 3px;
      right: -153px;
      z-index: 2;
      
      width: 1px;
      height: 25px;

      background: $white;
    }
  }

  .fas {
    margin-right: 7px;
    vertical-align: middle;

    color: $white;
  }

  .contact-info {
    display: inline-block;
    margin-bottom: 0;

    font-size: 14px;
    color: $white;
  }
}

@include respond-to(lg-down) {
  footer .contact-item:not(:last-child):before {
    right: -120px;
  }
}

@include respond-to(md-down) {
  footer .contact-item:not(:last-child):before {
    right: -58px;
  }
}

@include respond-to(sm-down) {
  footer {
    .contact-item:not(:last-child):before {
      right: -16px;
    }

    .fas {
      margin-right: 2px;

      font-size: 14px;
    }
  }
}

@include respond-to(xs) {
  .contact-list {
    flex-direction: column;
    align-items: center;
  }

  .contact-item:before {
    display: none;
  }
}