//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  padding: 20px 0;

  background: $footer-color;

  .contact-list {
    padding-left: 0;
    margin-bottom: 0;
    
    list-style: none;
  }

  .contact-item {
    position: relative;

    &:not(:last-child):before {
      content: '';

      position: absolute;
      top: 3px;
      right: -113px;
      z-index: 2;
      
      width: 1px;
      height: 25px;

      background: $white;
    }
  }

  .fas {
    margin-right: 7px;

    color: $white;
  }

  .contact-info {
    display: inline-block;
    margin-bottom: 0;

    color: $white;
  }
}