//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  // background: transparent;
  background: $white;
  box-shadow: 0 1px 10px $box-shadow;

  transition: all .2s ease-in-out;

  &.scrolled {
    background: $white;

    .navbar-brand,
    .nav-link {
      color: $black;
    }

    .navbar-brand {
      max-width: 170px;

      font-size: 15px;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    // max-width: 237px;

    font-family: $font-titillium-web-bold;
    letter-spacing: 1.2px;
    line-height: 1.1;
    // color: white;
    color: $black;
    white-space: normal;

    background: $brand-color;

    transition: all .1s ease-in-out;
  }

  .logo-brand {
    width: 63px;
    margin-right: 0;
  }

  .nav-link {
    // color: white;
    color: $black;
    font-family: $font-titillium-web-bold;

    @include on-event() {
      color: $brand-color;
    }
  }

  .socials {
    display: flex;

    .nav-link {
      padding: 0;
      margin: 0.5rem 1rem;
    }
  }
}

@include respond-to(sm-down) {
  header {
    .navbar-collapse {
      flex: 0;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .nav-item:not(:last-child) {
      margin-right: 14px;
    }
  }
}

@include respond-to(xs) {
  header {
    &.scrolled .logo-brand {
      width: 40px;
    }

    .logo-brand {
      width: 55px;

      transition: all .2s ease-in-out;
    }

    .name {
      display: none;
    }
  }
}