//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    position: relative;

    background-position: center;
    background-size: cover;

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: rgba(0,0,0,.5);
    }

    .content-wrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 90vh;
  
      color: $white;
      text-align: center;
      text-shadow: 0 1px $black;
    }
  }
}
