//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;

  .section-banner {
    position: relative;

    background-position: center;
    background-size: cover;

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: rgba(0,0,0,.7);
    }

    .content-wrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 90vh;
      min-height: 550px;
  
      color: $white;
      text-align: center;
      text-shadow: 2px 3px 6px $black;
    }
  }

  .section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .section-job-experience {
    background: $section-color;

    .col-custom {
      flex: 0 0 31%;
      padding: 25px 20px;

      text-align: center;

      background: $white;
    }

    .logo-holder {
      margin: 0 auto 15px;
      width: 100px;

      img {
        border-radius: 100%;
      }
    }

    .description-list {
      padding-left: 0;
      margin-bottom: 0;

      list-style: none; 
    }
  }

  .section-education {
    .col-custom {
      display: flex;
      flex: 0 0 48.3%;
      flex-wrap: wrap;
    }

    .first-side {
      flex: 0 0 35%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .second-side {
      flex: 0 0 65%;
      padding: 30px 35px;

      background: $section-color;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-skills {
    background: $section-color;

    .logo-holder {
      height: 65px;

      img {
        width: auto;
        max-height: 100%;
      }
    }
  }
}

@include respond-to(md-down) {
  .home {
    .section-portfolio {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .section-education .second-side {
      padding: 15px 18px;
    }

    .section-skills .logo-holder {
      height: 55px;
    }
  }
}

@include respond-to(sm-down) {
  .home {
    .section-banner .content-wrapper {
      min-height: 440px;
    }

    .section-job-experience .col-custom,
    .section-education .col-custom {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }

    .section-education .col-custom {
      .first-side,
      .second-side {
        flex: 0 0 100%;
      }

      .first-side {
        height: 300px;
      }

      .second-side {
        text-align: center;
      }
    }

    .section-skills {
      padding-bottom: 0;

      .skill-wrapper {
        display: flex;
        justify-content: center;
        flex: 0 0 25%;
        margin-bottom: 40px;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-banner .content-wrapper {
      min-height: 400px;
    }

    .section-education .second-side {
      padding: 25px 20px;
    }
  }
}