//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;

  .section-banner {
    position: relative;
    z-index: 1;

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: rgba(0,0,0,.2);
    }

    .bg-holder {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;

      background-position: center;
      background-size: cover;

      filter: blur(5px);
      -webkit-filter: blur(5px);
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      min-height: 550px;
    }

    .content-wrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 73px 64px;
  
      color: $white;
      text-align: center;
      text-shadow: 2px 3px 6px $black;

      background-color: rgba(30, 30, 30, .4);
      border: 4px solid $beluga;
      border-radius: 5px;
      box-shadow: 0 0 14px rgba(0, 0, 0, .41);
    }
  }

  .section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .section-job-experience {
    position: relative;
    z-index: 2;

    background-color: #fff;

    &:before {
      content: '';

      position: absolute;
      top: 132px;
      left: 50%;

      height: 85%;

      border: 3px solid $platinum;
      
      transform: translateX(-50%);
    }

    .col-custom {
      position: relative;

      display: flex;
      flex: 0 0 100%;
      padding: 25px 20px;

      text-align: center;

      &:before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        width: 23px;
        height: 23px;

        background-color: #fff;
        border-radius: 50%;
        border: 4px solid;

        transform: translate(-50%, -50%);
      }

      &:after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        width: 35px;
        height: 35px;

        background-color: #fff;

        transform: translate(-50%,-50%);
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .logo-holder {
          margin: 0 128px 0 10px;
        }

        .wrapper {
          margin-right: auto;
          margin-left: 30px;
        }

        .job-logo {
          justify-content: end;

          &:before {
            right: 10px;
            left: auto;
          }
        }

        .job-details {
          &:before {
            right: auto;
            left: 10px;
          }
        }
      }
    }
    
    .job {
      position: relative;

      flex: 0 0 50%;
      
      &:before {
        content: '';

        position: absolute;
        top: 50%;

        width: 109px;

        border: 3px solid $platinum;

        transform: translateY(-50%);
      }
    }

    .job-details {
      &:before {
        right: 10px;

        display: none;
      }
    }

    .job-logo {
      display: flex;
      align-items: center;

      &:before {
        left: 10px;
      }
    }

    .job-heading {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding: 7px 0;
        padding-left: 15px;
        margin-left: 15px;

        border-left: 2px solid;
      }
    }

    .wrapper {
      padding: 15px;
      margin-right: 30px;
      margin-left: auto;
      max-width: 410px;

      border: 3px solid $platinum;
      border-radius: 5px;
    }

    .logo-holder {
      display: flex;
      align-items: center;

      margin: 0 10px 0 128px;
      
      img {
        margin-right: 25px;
        width: 100px;
      }
    }

    .description-list {
      padding-left: 0;
      margin-bottom: 0;

      list-style: none; 
    }
  }

  .section-resume {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;

    background-image: url('../../assets/images/bg-cta.jpg');
    background-position: center;
    background-size: cover;
    
    &:before {
      content: '';
      
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      background: rgb(53,133,139);
      background: linear-gradient(0deg, rgba(53,133,139,.8) 36%, rgba(79,189,186,.9) 100%);
    }

    .container {
      position: relative;
      z-index: 5;

      max-width: 700px;
    }

    .col-custom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      color: $white;
      text-align: center;
    }

    .title {
      margin-bottom: 0;

      font-size: 55px;
      line-height: 1;
    }

    h4 {
      margin-bottom: 28px;

      font-size: 18px;
    }

    img {
      max-width: 200px;
    }
  }

  .section-education {
    .col-custom {
      display: flex;
      flex: 0 0 48.3%;
      flex-wrap: wrap;
    }

    .first-side {
      flex: 0 0 35%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .second-side {
      flex: 0 0 65%;
      padding: 30px 35px;

      background: $section-color;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-skills {
    background: $section-color;

    .logo-holder {
      height: 65px;

      img {
        width: auto;
        max-height: 100%;
      }
    }
  }

  .section-sites {
    .col-custom {
      flex: 0 0 49%;

      border: 3px solid $platinum;
      border-radius: 5px;
    }

    .screenshot-holder {
      height: 350px;
      background-size: cover;
      background-position: center;
    }

    .info-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 0;

      text-align: center;
    }

    .site-title {
      display: block;
      margin-bottom: 22px;
    
      font-size: 32px;

      @include on-event() {
        text-decoration: none;
      }
    }

    .action-holder {
      display: flex;
      justify-content: center;

      .btn {
        margin: 0 6px;
      }
    }
  }
}

@include respond-to(md-down) {
  .home {
    .section-portfolio {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .section-education .second-side {
      padding: 15px 18px;
    }

    .section-skills .logo-holder {
      height: 55px;
    }
  }
}

@include respond-to(sm-down) {
  .home {
    .section-banner .content-wrapper {
      min-height: 440px;
    }

    .section-job-experience .col-custom,
    .section-education .col-custom {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }

    .section-education .col-custom {
      .first-side,
      .second-side {
        flex: 0 0 100%;
      }

      .first-side {
        height: 300px;
      }

      .second-side {
        text-align: center;
      }
    }

    .section-skills {
      padding-bottom: 0;

      .skill-wrapper {
        display: flex;
        justify-content: center;
        flex: 0 0 25%;
        margin-bottom: 40px;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-banner .content-wrapper {
      min-height: 400px;
    }

    .section-education .second-side {
      padding: 25px 20px;
    }
  }
}