//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.intro-text {
  font-size: 52px;
  line-height: 1;
}

.heading {
  font-family: $font-titillium-web-black;
  font-size: 72px;
  letter-spacing: 3px;
  line-height: 1;
}

.subheading {
  font-size: 18px;
}

.title {
  margin-bottom: 60px;
  
  font-family: $font-titillium-web-bold;
  font-size: 40px;
  text-align: center;
}

.job-title,
.school-name {
  margin-bottom: 4px;

  font-family: $font-titillium-web-bold;
  font-size: 31px;
  line-height: 1.1;
}

.date {
  font-size: 12px;
}

.description-item {
  margin-bottom: 15px;

  font-size: 14px;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }
}

.school-address {
  font-size: 13px;
  font-weight: bold;
}

.achievement {
  font-size: 14px;

  .fas {
    margin-right: 4px;

    font-size: 14px;
  }
}

.job-heading {
  color: $brand-color;
  font-family: $font-titillium-web-black;

  span {
    color: $text-color;
    font-family: $font-titillium-web-bold;
    font-size: 21px;
  }
}

.job-summary {
  font-size: 16px;
}
  
.company-name {
  margin-bottom: 0;

  color: $brand-color;
  font-family: $font-titillium-web-black;
}

.site-title {
  font-family: $font-titillium-web-bold;
  font-size: 21px;   
}

@include respond-to(md-down) {
  .title {
    margin-bottom: 40px;

    font-size: 36px;
  }

  .job-title,
  .school-name {
    font-size: 25px;
  }

  .description-item {
    margin-bottom: 11px;
  }

  .company-name {
    font-size: 21px;
  }
}

@include respond-to(xs) {
  .heading {
    font-size: 39px;
  }

  .subheading {
    font-size: 18px;
  }
}