//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.heading {
  font-family: $font-titillium-web-black;
  font-size: 55px;
}

.subheading {
  font-weight: 500;
}

.title {
  margin-bottom: 50px;
  
  font-family: $font-titillium-web-bold;
  font-size: 40px;
  text-align: center;
}